* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}
header.container {
    grid-area: header;
}
main.container {
    grid-area: main;
}
footer.container {
    grid-area: footer;
}
.head {
    grid-area: head;
}
.topnav {
    grid-area: topnav;
}
.list1 {
    grid-area: list1;
}
.link2 {
    grid-area: link2;
}
.link3 {
    grid-area: link3;
}
.text1 {
    grid-area: text1;
}
.text2 {
    grid-area: text2
}
header.container {
    display: grid;
    grid-template-areas: 
    "head topnav";
    grid-template-columns: 9fr 1fr;
    background-color: green;
}
main.container {
    display: grid;
    grid-template-areas: 
    "text1 text2";
    background-color: red;
}
footer.container {
    display: grid;
    grid-template-areas: 
    "list1 link2 link3";
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
}
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.kopy {
    text-align: center;
}
.white70 {
    background-color: rgba(255, 255, 255, 0.7)
}